spring:
  application:
    name: taskmanager

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres_password

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:/liquibase/changelog-master.yaml
